.mycontainer {
  display: grid;
  grid-template-columns: 1fr auto ;
  grid-template-rows: 1fr auto;
  justify-items: stretch;
  align-items: center; 
}
  .LogoItem{
    width: 100%;
    /* grid-column-start: 1;
    grid-row-start : 1; */
  }

.Intro{
    grid-column: 1/2;
    grid-row : 2/3;
  }

  .SignupItem{ 
    display: grid;
    align-content: center;
    grid-column: 2/-1 ;
    grid-row : 1/-1;
    align-self: stretch;
    background-color: goldenrod;
  }

