.mycontainer {
  display: grid;
  grid-template-columns: 75% auto ;
  grid-template-rows: 1fr auto;
  justify-items: stretch;
  align-items: center;
}
  .LogoItem{
    grid-column-start: 1;
    grid-row-start : 1;

  }

  .IntoItem{
    grid-column-start: 1 ;
    grid-row-start : 2   ;
  }

  .SignupItem{
    display: grid;
    align-content: center;
    grid-column: 2/-1 ;
    grid-row : 1/-1;
    align-self: stretch;
    background-color: goldenrod;
  }

