
@{
    ViewData["Title"] = "Welcome";
}

<h1>Js Client</h1>

<button onclick="signIn()">SignIn</button>

<button onclick="callApi()">Get Secure City Data</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.1/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>

