.circles {
    display: flex;
  }
  .circle-with-text {
    background: darkgoldenrod;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border-color: darkmagenta;
    border-style: solid;
    border-width: 12px;
    text-align: center;
    margin: 5px 11px;
    font-size: 15px;
    padding: inherit;
    display: flex;
    height: 80px;
    width: 80px;
    color: #fff;
  }
  .multi-line-text {
    font-size: 10px;
  }