.match{
    padding-left: 50px;
    padding-right: 50px;

    margin : 10px;
}
.rideDesc{
    display: grid; 
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    grid-template-rows: 70px 70px 70px;
}

h3{
    font-size: 2.5em; 
}

h15{
    font-size: 0.8em;
}

h4{
    font-size: 1.2em;
}

.from{
    display: grid;
    grid-template-columns: 1fr auto;
}

.art{
    width: 100px;
    height: auto;
}

.avtar{
    border-radius: 50%;
    margin-top: 20px;
    height: 35px;
    width: auto;
}